/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
*{
    box-sizing: border-box;
}

body {
    font-family: 'Faustina', serif;
    font-size: 62.5%;
    font-weight: 400;
    color: #100c0c;
}
section {
    padding: 0 35px 50px;
    overflow: hidden;
}
.container {
    max-width: 1366px;
    padding: 0 10px;
    margin: 0 auto;
}
h2 {
    font-size: 3.6em;
    font-weight: 700;
    text-transform: uppercase;
    color: #46938e;
}
h3 {
    font-family: 'Overlock', cursive;
    font-size: 2em;
    font-weight: 700;
    font-style: italic;
    color: #ffffff;
}
h4 {
    font-size: 2.4em;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;

}
h5{
    font-size: 3em;
    color: #000000;
}
h6 {
    font-weight: 400;
    font-style: italic;
    font-size: 2em;
    color: #a3a3a3;
}
small {
    color: #b9cde2;
    padding: 15px 0 0;
}
p {
    font-size: 2em;
}
a {
    text-decoration: none;
}
.btn {
    font-size: 1.8em;
    color: #000;
    background: #ffffff;
    padding: 6px 27px;
}

/*=============HEADER=============*/
header {
    padding: 13px 0 8px;
}
nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #46938e;
    text-align: center;
    color: #000000;
}
nav ul {
    display: table-cell;
    vertical-align: middle;
}
nav a {
    color: #ffffff;
    font-size: 3.6em;
    font-weight: 400;
    line-height: 70px;
    padding: 5px 10px;
}
nav .btn {
    background: #ffffff;
    font-size: 3.6em;
}
nav .close {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    margin: 0;
}
.header-logo {
    display: inline-block;
}
.burger {
    width: 44px;
    height: 25px;
    padding: 5px 0;
    float: right;
    margin-top: 12px;
}
.burger span {
    width: 100%;
    height: 2px;
    background-color: #000;
    display: block;
    margin-top: 9px;
}
.burger span:nth-child(1) {
    margin-top: 0;
}
/*============ HEADER END ===========*/

/* ========== HERO ==========*/
.hero {
    background: url('../img/background.jpg') no-repeat center center;
    background-size: 100% auto;
}
.order {
    width: 121px;
    height: 32px;
    font-weight: 700;
    font-size: 1.8em; 
    color: #ffffff;
    background-color: #56b5af;
}
/* ========== HERO END ==========*/

/* ========== PRODUCTS ==========*/
.products .container {
    padding-top: 20px;
}
/* ========== PRODUCTS END ==========*/

/* ========== ORDERING PROCESS ==========*/
.ordering {
    background-color: #f1eaeb;
}
.ordering .container  {
    padding-top: 50px;
}
.ordering-quote {
    font-size: 2.5em;
    font-weight: 600;
    font-style: italic;
    color: #1d1d1d;
}
#ordering-process {
    display: inline-block;
    margin-top: 90px;
}
#ordering-process div {
    display: inline-block;
    border: 1px solid #46938e;
    max-width: 347px;
    margin: 0 0 60px 0;
}
#ordering-process div img:first-of-type { 
    background-color: #f1eaeb;
    padding-right: 5px;
    padding-left: 5px;
    left: 50%;
    margin-left: -35px;
}
#ordering-process div h4 {
    display: inline-block;
    vertical-align: middle;
}
#ordering-process div p {
    margin-top: 0;
    padding-bottom: 20px;
}
#ordering-process div .number {
    margin: 0;
    margin-left: -4px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #f1eaeb;
    padding-bottom: 0;
}
.description {
    font-size: 2em;
    font-weight: 400;
}
/* ========== ORDERING PROCESS END ==========*/

/* ========== OUR STORY ==========*/
.our_story .container {
    padding-top: 20px;
}
.content {
    padding-right: 0px;
    padding-left: 0px;
}   
.our_story .round-image {
    overflow: hidden;
    clip-path: circle(41% at 50% 50%);
}
.our_story .img {
    max-width: 100%;
}
.circle {
    position: relative;
    max-width: 400px;
    height: 1px;
}
.circle span {
    position: absolute;
    background-color: #46938e;
    border-radius: 50%;
    display: block;
}
.circle span:first-child {
    height: 113px;
    width: 113px;
    opacity: .2;
    top: 140px;
    left: 150px;
}
.circle span:nth-child(2) {
    height: 298px;
    width: 298px;
    opacity: .27;
    bottom: -490px;
    left: -145px;
  }
  .circle span:last-child {
    height: 298px;
    width: 298px;
    opacity: .7;
    bottom: 2135px;
    right: -50%;
    display: none;
  }
/* ========== OUR STORY END ==========*/

/* ========== GALLERY ==========*/
.section .gallery {
    padding-bottom: 0;
}
.gallery{
    position: relative;
    margin: 0 auto;
}
.images {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.images img {
    max-width: 350px;
    max-height: 350px;
    padding: 15px 30px;
}
/* ========== GALLERY END ==========*/
/* ========== GENERAL INFO ==========*/
.general-info .container {
    position: relative;
    padding-top: 50px;
}
.general-info li p:nth-child(2) {
    font-weight: 700;
    font-size: 2.5em;
}
.circle_2 {
    position: relative;
    max-width: 1300px;
    height: 1px;
}
.circle_2 span {
    position: absolute;
    border-radius: 50%;
    background-color: #46938e;
    display: block; 
}
.circle_2 span:first-child {
    width: 184px;
    height: 184px;
    opacity: .1;
    top: 665px;
    left: -70px;
}
.circle_2 span:nth-child(2) {
    width: 64px;
    height: 64px;
    opacity: .4;
    top: 345px;
    left: 40px;
    display: none;
}
.circle_2 span:nth-child(3) {
    width: 64px;
    height: 64px;
    opacity: .25;
    top: 130px;
    left: 200px
}
.circle_2 span:nth-child(4) {
    width: 167.5px;
    height: 167.5px;
    opacity: .2;
    top: -50px;
    left: -40px;
}
.circle_2 span:last-child {
    width: 28.5px;
    height: 28.5px;
    opacity: .3;
    bottom: -1130px;
    right: 2px;
}
/* ========== GENERAL INFO END ==========*/

/* ========== FOOTER ==========*/
.footer {
    padding: 25px 0;
    background-color: #210a12;
    text-align: center;
}
.logo-wrap {
    display: grid; /*ne radi inline-block ali grid radi, zasto?*/
}
.logo-copy-wrap small {
    display: block;
}
.footer ul {
    padding-top: 20px;
    display: inline-flex;
}
.footer ul li {
    padding: 10px;
}
.footer li a:hover {
    color: #70c0e5;
}
/* ========== FOOTER END ==========*/

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/*
@media only screen and (min-width: 1024px) {
    /*========== HEADER ==========*/
   /* header {
        padding: 25px 0 10px;
    }

    nav {
        display: block;
        position: initial;
        width: auto;
        height: auto;
        background: inherit;
        float: right;
    }

    nav li {
        float: left;
    }

    nav a {
        color: #000;
        margin-left: 20px;
    }

    nav a:active,
    nav a:hover {
        color: #46938e;
        border-top: 1px solid #46938e;
        border-bottom: 1px solid #46938e;
    }

    nav a {
        font-size: 1.8em;
    }


    .burger,
    nav .close {
        display: none;
    }
/* ========== HEADER END ==========*/

/* ========== HERO ==========*/
/*.order {
    position: relative;
    top: 180px;
    width: 225px;
    height: 60px;
    font-size: 3em;
}
.quote h3 {
    font-size: 3.6em;
    position: relative;
    top: 130px;
}
/* ========== HERO END ==========*/

/* ========== ORDERING PROCESS ==========*/
/*.ordering-quote {
    font-size: 3em;
}
/* ========== ORDERING PROCESS END ==========*/

/* ========== OUR STORY END ==========*/
/*.our_story .container {
    height: 720px;
}
.content {
    padding-left: 636px;
    padding-right: 50px;
}   
.our_story .container .content img {
    position: relative;
    left: -200px;
}
.our_story .container .img {
    width: 425px;
    height: 594px;
    left: -290px;
    bottom: 516px;
}
.our_story .container .content p {
    font-size: 2.4em;
    max-width: 660px;
    text-align: left;
    top: 0;
}
.content h6 {
    text-align: left;
    top: 0;
 }
.content h5 {
    text-align: left;
    top: 0;
 }
.content h2 {
     text-align: left;
 }
.circle span:first-child {
    height: 226px;
    width: 226px;
    top: 40px;
    left: -225px;
}
.circle span:nth-child(2) {
    height: 596px;
    width: 596px;
    top: 205px;
    left: -925px;
  }
  .circle span:last-child {
    height: 596px;
    width: 596px;
    bottom: -240px;
    right: -130%;
    display: block;
  }
/* ========== OUR STORY END ==========*/

/* ========== GENERAL INFO ==========*/
/*.circle_2 span:first-child {
    position: absolute;
    top: -50px;
    width: 368px;
    height: 368px;
}
.circle_2 span:nth-child(2) {
    width: 128px;
    height: 128px;
    position: absolute;
    display: block;
}
.circle_2 span:nth-child(3) {
    width: 128px;
    height: 128px;
    position: absolute;
    left: 900px;
    top: -60px;
}
.circle_2 span:nth-child(4) {
    width: 335px;
    height: 335px;
    position: absolute;
    left: 950px;
    top: 100px
}
.circle_2 span:last-child {
    width: 57px;
    height: 57px;
    position: absolute;
    top: 700px;
}
.info li {
    display: inline-block;
    width: calc(33.333% - 35px);
}
/* ========== GENERAL INFO END ==========*/
/*}*/

/* ==========================================================================
   Helper classes
   ========================================================================== */
.unstyle-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
}

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

button {
    background: transparent;
    border: none;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}