/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
*{
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-weight: 400;
    color: #100c0c;
    font-family: 'Faustina', serif;
}

h2 {
    font-family: 'Faustina', serif;
    font-size: 3.6em;
    font-weight: 700;
    text-transform: uppercase;
    color: #46938e;
}

h3 {
    font-family: 'Overlock', cursive;
    font-size: 3.6em;
    font-weight: 700;
    font-style: italic;
    color: #ffffff;
    margin-top: 10px;
    padding-bottom: 80px;
}

h4 {
    font-family: 'Faustina', serif;
    font-size: 2.4em;
    text-transform: uppercase;
    color: #000000;

}

h5{
    font-family: 'Faustina', serif;
    font-size: 3em;
    color: #000000;
    margin-bottom: 15px;
    margin-top: 40px;
    text-align: left;
}

h6 {
    font-family: 'Faustina', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 2em;
    color: #a3a3a3;
    margin-top: 15px;
    text-align: left;
}

.our_story .container p {
    font-size: 2.4em;
}
p {
    font-size: 1.8em;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1350px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

section {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

.btn {
    font-size: 1.8em;
    color: #000;
    background: #ffffff;
    padding: 6px 27px;
}

/*=============HEADER=============*/
header {
    padding: 13px 0 8px;
}

nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #46938e;
    text-align: center;
    color: #000000;
}

nav ul {
    display: table-cell;
    vertical-align: middle;
}

nav a {
    color: #ffffff;
    font-size: 3.6em;
    font-weight: 400;
    line-height: 70px;
    padding: 5px 10px;
}

nav .btn {
    background: #ffffff;
    font-size: 3.6em;
}

nav .close {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    margin: 0;
}

.header-logo {
    display: inline-block;
}

.burger {
    width: 44px;
    height: 25px;
    padding: 5px 0;
    float: right;
    margin-top: 12px;
}

.burger span {
    width: 100%;
    height: 2px;
    background-color: #000;
    display: block;
    margin-top: 9px;
}

.burger span:nth-child(1) {
    margin-top: 0;
}
/*============ HEADER END ===========*/

/* ========== HERO SECTION ==========*/
/* na hero ne ide visina, ako hocemo da bude responsive
zakucati odredjenu sirinu..
na **quote** width promeniti u max-width da bi text bio responsive sto znaci u ovom slucaju da se siri do 700px ali posle toga nema nista, to postizemo samo sa max-width
*/
.hero {
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
}

.hero .container {
    height: 606px;
    width: 1335x;
}

.quote {
    position: relative;
    top: 210px;
    left: 60px;
    max-width: 700px;
}
/*obrisati bottom, margin-left, top,
**html**button ubaciti u klasu quote kako bi padding-left bio za quote i button 
*/
.order {
    font-family: 'Faustina', serif;
    font-weight: 700;
    position: relative;
    bottom: 380px;
    background-color: #56b5af;
    font-size: 2.5em; 
    color: #ffffff;
    margin-left: 121px;
    width: 225px;
    height: 60px;
    text-align: center;
    padding-top: 1px;
    top: 170px;
}
/* ========== HERO SECTION END ==========*/

/* ========== ORDERING PROCESS ==========*/
/*ako su childovi absolute parent mora biti relative
number ide absolute
left 50% i margin-left:-31px (minus polovina tog bloka) ili transform: translatex(-50%) --dva nacina pozicioniranja-- **na ornamer u kockici**
!!!maknuti hight i width svugde
*/

.ordering {
    background-color: #f1eaeb;
    position: relative;
}

.ordering .container  {
    /*height: 700px;*//*skloniti da ne bi bili ograniceni ukoliko klijent hoce vise teksta*/
    /*width: 1338px;*/ /*skloniti da bi dizajn bio responsive*//*ne stavljati sirinu kod mobilne verzije*/
    padding-top: 50px;
}

.ordering h4 {
    font-weight: 400;
}

 .ordering-quote {
    font-family: 'Faustina',serif;
    font-size: 2.5em;
    font-weight: 600;
    font-style: italic;
    color: #1d1d1d;
}

#ordering-process {
    display: inline-block;
    margin-top: 90px;
}
#ordering-process div {
    position: relative;
    display: inline-block;
    border: 1px solid #46938e;
    max-width: 347px;
    margin: 0 15px 60px;
}
#ordering-process div img:first-of-type { 
    position: absolute;
    top: -21px;
    background-color: #f1eaeb;
    padding-right: 5px;
    padding-left: 5px;
    left: 50%;
    margin-left: -35px;
}

#ordering-process div .img {
    display: inline-block;
    padding-right: 15px;
    vertical-align: middle;
}

#ordering-process div h4 {
    display: inline-block;
    vertical-align: middle;
}

#ordering-process div p {
    margin-top: 0;
    padding-bottom: 43px;
}

#ordering-process div .number {
    position: absolute;
    bottom: -11px;
    top: auto;
    margin: 0;
    left: 50%;
    margin-left: -4px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #f1eaeb;
    padding-bottom: 0;
}

.description {
    font-size: 1.8em;
    font-weight: 400;
}
/* ========== ORDERING PROCESS END ==========*/

/* ========== OUR STORY ==========*/
/*overflow:hidden na sekciju da sve sto se preliva nestane
sliku staviti u poseban div **html** a sliku i krugove u novi div 
krugovima dati position absolute  **css**
dodati z-index na sliku npr 2, sto veci index to element ide iznad svih
inline-block uopste ne gleda marginu samo block zato je najbolje paddingom odvajati elemente
*/
.our_story .container {
    width: 1338px;
    padding-top: 80px;
    display: inline-block;
}

.content {
    position: relative;
    padding-left: 636px;
    padding-right: 117px;
}   

.our_story .container .content img {
    position: relative;
    left: -190px;
}

.content h2 {
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: left;
}

.our_story .container .content p {
    position: relative;
    top: -10px;
}

.our_story .container .img {
    width: 425px;
    height: 594px;
    position: relative;
    left: -290px;
    bottom: 516px;
    clip-path: circle(41% at 50% 50%);
}

.our_story .container .content p {
    text-align: left;
}

.dot {
    height: 596px;
    width: 596px;
    background-color: #46938e;
    border-radius: 50%;
    opacity: .27;
    display: inline-block;
    position: relative;
    bottom: 983px;
    left: -520px;
  }

  .dot1 {
    height: 226px;
    width: 226px;
    background-color: #46938e;
    border-radius: 50%;
    opacity: .2;
    display: inline-block;
    position: relative;
    bottom: 1500px;
    right: 434px;
  }

  .dot2 {
    height: 596px;
    width: 596px;
    background-color: #46938e;
    border-radius: 50%;
    opacity: .7;
    display: inline-block;
    position: relative;
    bottom: 2135px;
    left: 650px;
  }

/* ========== OUR STORY END ==========*/

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


@media only screen and (min-width: 1024px) {
    /*========== HEADER ==========*/
    header {
        padding: 25px 0 10px;
    }

    nav {
        display: block;
        position: initial;
        width: auto;
        height: auto;
        background: inherit;
        float: right;
    }

    nav li {
        float: left;
    }

    nav a {
        color: #000;
        margin-left: 20px;
    }

    nav a:active,
    nav a:hover {
        color: #46938e;
        border-top: 1px solid #46938e;
        border-bottom: 1px solid #46938e;
    }

    nav a {
        font-size: 1.8em;
    }


    .burger,
    nav .close {
        display: none;
    }
/* ========== HEADER END ==========*/

/* ========== HERO SECTION ==========*/

/* ========== HERO SECTION END ==========*/

/* ========== ORDERING PROCESS SECTION ==========*/
.ordering-quote {
    font-family: 'Faustina',serif;
    font-size: 3em;
}
/* ========== ORDERING PROCESS SECTION END ==========*/

.our_story .container .img {
    width: 212.5px;
    height: 297px;
    left: -290px;
    bottom: 516px;
    clip-path: circle(41% at 50% 50%);
}

.dot {
    height: 298px;
    width: 298px;
    border-radius: 50%;
    opacity: .27;
    bottom: 983px;
    left: -520px;
  }

  .dot1 {
    height: 113px;
    width: 113px;
    border-radius: 50%;
    bottom: 1500px;
    right: 434px;
  }

  .dot2 {
    height: 298px;
    width: 298px;
    border-radius: 50%;
    opacity: .7;
    bottom: 2135px;
    left: 650px;
  }



}






/* ==========================================================================
   Helper classes
   ========================================================================== */
.unstyle-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
}

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

button {
    background: transparent;
    border: none;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}